/*Diseño de la fuente y fondo*/
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(23, 31, 194, 0.3);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
/*Diseño del contenedor centrado*/
.container {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
  max-width: 400px; 
}

/*Diseño del título*/
h1 {
  color: #ffffff;
  margin-bottom: 20px;
}

/*Diseño de la casilla de texto*/
input[type="text"] {
  padding: 10px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  margin-bottom: 16px;
}

/*Diseño del botón*/
button {
  padding: 10px 20px;
  background-color: rgba(23, 31, 194, 0.3);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgba(23, 31, 194, 0.3);
}

/*Diseño del mensaje de salida*/
#mensaje {
  margin-top: 20px;
  font-size: 17px;
  color: #656565;
}